// bio vars

$desktop: 48em;

$purple: #963b60;
$yellow: #d9ac28;
$white: #fff;



section.section__bio {
  margin-left: auto;
  margin-right: auto;
  
  margin-bottom: 0;
  // padding-top: 0;
  padding-bottom: 0;
}


.bio {
  @media (min-width: $desktop) {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

}

.bio__name,
.bio h2.bio__name,
{
  margin-bottom: 0;
  padding-bottom: 0;
}

.bio__item {
  position: relative;
  // padding-top: 40px;
  margin-bottom: 40px;
  

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $desktop) {
    margin-bottom: 0;
    width: 50%;

    &:nth-child(2) {
      
      &:before {
        content: '';
        display: block;
        
        position: absolute;
        top: 0;
        left: -1px;
        
        height: 100%;

        border-left: dashed 2px $yellow;  
      }
      
    }

  }

}


.bio__headshot {
  margin-top: 5px;
  margin-bottom: 20px;
}


.bio__description {
  
  padding: 20px 40px 40px;

  p {
    margin-left: auto;
    margin-right: auto;
    max-width: 40ch;
  }

  // > * {
  //   margin-left: auto;
  //   margin-right: auto;
  //   max-width: 500px;

  //   @media (min-width: $desktop) {
  //     .bio__item:first-child & {
  //       margin-right: 0;
  //     }
  //     .bio__item:last-child & {
  //       margin-left: 0;
  //     }
  //   }
  // }

}


.bio__experience {

  padding: 40px;

  background-color: $purple;
  color: $white;

  p {
    margin-left: auto;
    margin-right: auto;
    
    max-width: 40ch;

    .bio & {
      margin-bottom: 20px;  
    }
  }

  // > * {
  //   margin-left: auto;
  //   margin-right: auto;
  //   max-width: 500px;

  //   @media (min-width: $desktop) {
  //     .bio__item:first-child & {
  //       margin-right: 0;
  //     }
  //     .bio__item:last-child & {
  //       margin-left: 0;
  //     }
  //   }
  // }
}

.bio__experience__title {
  margin-bottom: 20px;
}

.bio__experience__linkedin {
  
  text-align: center;

  span {
    display: none;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: auto;
    margin-right: auto;

    width: 44px;
    height: 44px;

    border-radius: 50%;

    background-color: $white;
    color: $purple;
    
    &:hover, &:focus {
      background-color: rgba($white,0.7) !important;
      color: $purple !important;
    }  
  }
  
}