$desktop: 48em;

.section--contact {

  p {
    padding-bottom: 0;
    margin-bottom: 0;

    &:last-child {
      @media (min-width: $desktop) {
        padding-top: 10px;  
      }
      
    }
  }
  
}

.contact__name {
  @media (max-width: $desktop - 1) {
    display: block;
    text-align: center;
  }
}

.contact__phone {
  
  white-space: nowrap;

  @media (max-width: $desktop - 1) {
    margin-bottom: 40px;

    .section--contact p:last-child & {
      margin-bottom: 0;
    }

  }

}