// local vars
@import "partials/variables";
// import motion-ui libaries
@import "motion-ui/motion-ui";
// include motion-ui classes
@include motion-ui-transitions;
@include motion-ui-animations;
// foundation settings
@import "settings/settings";
// foundation
@import "foundation";
// local typography settings
@import "partials/typography";

// theme specific blocks
@import "blocks/bio";
@import "blocks/carousel";
@import "blocks/contact";
@import "blocks/cta";
@import "blocks/fyi";
@import "blocks/partners";
@import "blocks/services";

body {
	background-color: #555;
}

header.main {
	height: 83px;
	background-color: #fff;
	position: relative;
	padding: 1em 0 0 0;

	@include breakpoint(large) {
		height: 207px;
	}

	@include breakpoint(xxlarge) {
		padding: 0 136px;
	}

	div.logo {
		height: 100%;
		width: 71px;
		display: inline-block;
		z-index: 100;
		position: relative;

		@include breakpoint(medium) {
			width: 75px;
		}

		@include breakpoint(large) {
			width: 175px;
		}

		a {
			display: block;
			height: 100%;
			width: 71px;
			margin: 0 1rem;
			background-image: url(../img/logo.svg);
			background-repeat: no-repeat;
			background-size: auto 95%;
			background-position: left bottom;

			@include breakpoint(medium) {
				width: 85px;
			}

			@include breakpoint(large) {
				width: 210px;
			}

			@include breakpoint(xlarge) {
				width: 280px;
			}
		}
	}

	nav {
		height: 100%;

		ul.top-bar-right {
			display: flex;
			align-items: flex-end;
			height: 100%;
			background-color: #fff;
			margin: 0;

			li {

				@include breakpoint(medium) {
					padding-bottom: 9px;
				}

				@include breakpoint(large) {
					padding-bottom: 28px;
				}

				a {
					padding-bottom: 0 !important;
					border-bottom: 3px solid #fff;
				}
			}
		}

		.responsive-menu {
			display: flex;
			width: 67px;
			height: 67px;
			-webkit-justify-content: center;
			-webkit-align-items: center;

			button {
				line-height: 67px;
				color: $brown;

				&:hover {
					color: $beige;
				}
			}
		}
	}
}

#offCanvas {
	height: 100%;

	* {
		outline: none;
	}
}

div.sticky-container {
	top: -72px !important;

	div.sticky-menu {
		background-color: #fff !important;
		max-width: 100vw !important;
		left: 0 !important;
		width: 100% !important;

		&.is-stuck {
			padding: 0 136px !important;
		}
	}

	ul.menu {
		background-color: transparent;
		float: right;

		& > li > a.active {
			border-bottom: 3px $pink solid;
		}
	}
}

.off-canvas-content {
	box-shadow: none;
}

// style for carousel
ul.orbit-container {
	 height: 500px;
	 width: 100%;

	 li.orbit-slide {
	 	height: 100%;
	 	background-size: cover;
	 }
}

.orbit-caption {
	background-color: transparent;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	div {
		display: block;
		text-align: center;

		a {
			display: inline-block;
			font-size: 11pt;
			text-decoration: none;
			text-transform: uppercase;
			color: $brown;
			padding: 0 40px;
			margin-top: 30px;
			font-weight: bold;
			background-color: $yellow;
			border-radius: 3px;
			height: 50px;
			line-height: 50px;
		}
	}
}

nav.orbit-bullets {
	margin-top: -40px;
	opacity: 0.5;
	margin-bottom: 0;
}

section {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	text-align: center;
	min-height: 290px;
	font-weight: light;
	padding: 40px 0;

	&.image {
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		padding: 0;
		bottom: 0;
		height: 550px;

		img {
			width: 100%;
			height: auto;
		}

		h2 {
			padding-top: 20px;
			padding-bottom: 10px;

			@include breakpoint(large) {
				padding-top: 60px;
				padding-bottom: 20px;
			}
		}

		> div {
			background-position: center center;
			background-repeat: no-repeat;
			background-size: cover;
			min-height: 100%;
		}

		div > div {
			margin-top: 100px;
			padding-bottom: 20px;

			@include breakpoint(medium) {
				margin-top: 250px;
				padding-bottom: 60px;
			}

			@include breakpoint(large) {
				margin-top: 450px;
			}
		}
	}

	div {
		width: 100%;

		&.row {
			color: $beige;

			div {
				margin: 40px 0;
			}

			img {
				height: 50px;
				width: auto;
				margin-bottom: 30px;
			}

			& h4 {
				color: $brown;
			}
		}

		p {
			display: block;
			margin: 0;
			padding: 20px;
			padding-bottom: 40px;

			@include breakpoint(medium) {
				margin: 0 18%;
			}
		}
	}

	.bar {
		margin: 20px 0px;
		min-height: 1.8125em;
		padding: 12px 0;
		font-weight: bold;
	}

	div#funfacts > div.row {
		justify-content: center;
	}

	ul.list {
		text-align: left;
	}

	h2.only {
		padding: 60px 18%;
	}

	h2 {
		padding: 60px 18%;
		padding-top: 20px;
		padding-bottom: 10px;

		@include breakpoint(large) {
			padding-top: 60px;
			padding-bottom: 20px;
		}
	}

	h3 {
		color: $yellow;
		margin: 20px 0;
	}

	h6 {
		font-size: 0.9em;
	}

	&.bar {
		min-height: 1.8125em;
		padding: 30px 20px;
	}
}

footer {
	background-color: $brown;
	color: #fff;
	font-size: 10pt;

	.row > div {
		padding-bottom: 30px;

		&.social {
			padding-top: 50px;
			color: $beige;
			word-spacing: 8px;
			padding-bottom: 0;

			> a {
				color: $beige;
			}
		}

		&.single {
			color: $beige;
		}
	}

	a {
		color: #fff;

		&:hover {
			color: $beige;
		}
	}

	div {
		text-align: center;
	}
}

div.wpcf7 {
	input, textarea {
		border: 0;
		text-transform: uppercase;
	}

	.wpcf7-submit {
		display: inline-block;
		font-size: 11pt;
		text-decoration: none;
		text-transform: uppercase;
		color: $brown;
		padding: 0 40px;
		margin-top: 30px;
		font-weight: bold;
		background-color: $yellow;
		border-radius: 3px;
		height: 50px;
		line-height: 50px;
	}

	.wpcf7-not-valid-tip {
		margin-bottom: 20px;
	}

	.wpcf7-response-output {
		border: none;
		color: $brown;
	}

	br {
		display: none;
	}
}

.topbar {
	height: 20px;
	width: 100%;
	margin-bottom: 70px;
}

.svcmenu > li:not(.menu-text) > a {
	padding: 0.4rem 0;
	color: $pink;

	&.active {
		color: $gray;
	}
}

article.columns {
	background-repeat: no-repeat;
	background-size: 100px auto;
	padding-left: 140px;
	padding-top: 38px;
	padding-bottom: 76px;
	color: $brown;
}

.odometer {
	font-size: 50pt;
	font-weight: bolder;
}

.odometer-inside {
	margin: 40px 0 0 !important;
}

img.portrait {
	width: 100% !important;
	max-width: 320px;
	height: auto !important;
	border-radius: 50%;
	border: 8px $beige solid;
}

.bio {
	p {
		margin-top: 0;
		margin-bottom: 10px;
		padding: 0;
		font-weight: 300;

		&:last-child {
			margin-bottom: 0;
		}
	}

	h2 {
		padding-top: 0;
	}

	h5 {
		text-transform: uppercase;
	}

	.lowpad {
		padding: 0;
	}

	i.larger {
		font-size: 30pt;
	}

	.border-yellow {
		> * {
			padding: 40px 0 !important;
		}
	}
}

.border-beige {
	border-top: 2px $beige dashed;
	border-bottom: 2px $beige dashed;
	margin: 0;
	padding: 4px 0 !important;

	> * {
		margin: 0 !important;
	}
}

.border-yellow {
	border-top: 2px $yellow dashed;
	border-bottom: 2px $yellow dashed;
	margin: 0;
	padding: 4px 0 !important;

	> * {
		margin: 0 !important;
	}
}

.bg-white {
	background-color: #fff;
}

.bg-pink {
	background-color: $pink;
}

.bg-yellow {
	background-color: $yellow;
}

.bg-brown {
	background-color: $brown;
}

.bg-beige {
	background-color: $beige;
}

.bg-gray {
	background-color: $gray;
}

.bg-beige-transparent {
	background-color: $beige-transparent;
}

.fg-white {
	color: #fff;

	a:hover {
		color: $beige;
	}
}

.fg-pink {
	color: $pink;

	a:hover {
		color: $yellow;
	}
}

.fg-yellow {
	color: $yellow;

	a:hover {
		color: $pink;
	}
}

.fg-brown {
	color: $brown;

	a:hover {
		color: $beige;
	}
}

.fg-beige {
	color: $beige;

	a:hover {
		color: $brown;
	}
}

.fg-maroon {
	color: rgb(150, 59, 96);

	a:hover {
		color: rgb(150, 59, 96);
	}
}

.lesspad {
	padding: 20px 18%;
}

// default template stuff
.page-template-default {
	h2.page-title {
		text-align: center;
	}

	section {
        	max-width: 75rem;
     		margin: 0 auto;
       		text-align: inherit;
	}

	h2 {
 	       font-weight: bold;
        	margin-top: 2em;
 	       padding: 0 1em;
	}

	h3 {
        	font-weight: bold;
	        margin-top: 2em;
        	padding: 0 1em;
	}

	h4 {
        	font-weight: bold;
        	margin-top: 2em;
        	padding: 0 1em;
	}

	h5 {
        	font-weight: bold;
        	margin-top: 2em;
        	padding: 0 1em;
	}

	h6 {
        	font-weight: bold;
        	margin-top: 2em;
        	padding: 0 1em;
	}

	p {
 	       margin: 2em 0;
        	padding: 0 1em;
	}
}

// smaller comma by request
.odometer-formatting-mark {
	position: relative;
	top: 0.1em;
	font-size: 0.7em;
}

.wpcf7-form-control-wrap > div > div {
	margin: 0 auto;
}

/*# sourceMappingURL=main.css.map */
